<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Tweetwall - Sign In</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="{{ settings.STATIC_URL }}/css/tweetwall.css" rel="stylesheet">
    <link href="{{ settings.STATIC_URL }}/css/twitter-button.css" rel="stylesheet">
  </head>
<body>
<form action="signin">
<div class="sign_in_with_twitter darker">
	<div></div>
	<button>
		<div class="icon"></div>
		Sign-in with Twitter
	</button>
</div>
</form>
</body>

</html>

