html, body { 
	background: url(../img/bedge_grunge.png);
}

.header {
 	margin: 60px 0;
    text-align: center;
 }

 .header h1 {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 80px;
 }
 